<h2>Inscription</h2>

<form #registerForm="ngForm" (ngSubmit)="onRegister()">
  <div>
    <label> Nom :</label><br>
    <input type="text" id="nom" [(ngModel)]="user.nom" name="nom" #nom="ngModel" required />
      @if (nom.invalid && nom.touched){
        <p style="color: red; font-size: 0.8em;">Nom requis</p>
        console.log("");
      }
  </div>

  <br>

  <div>
    <label>Prénom :</label><br>
    <input type="text" id="prenom" [(ngModel)]="user.prenom" name="prenom" #prenom="ngModel" required/>
    @if (prenom.invalid && prenom.touched){
      <p style="color: red; font-size: 0.8em;">Prénom requis</p>
    }
  </div>

  <br>

  <div>
    <label>Email :</label><br>
    <input type="email" id="email" [(ngModel)]="user.email" name="email" #email="ngModel" required email />
    @if (email.invalid && email.touched){
      <p style="color: red; font-size: 0.8em;">Email requis</p>
    }
  </div>

  <br>

  <div>
    <label for="password">Mot de passe :</label>
    <div>
      <input [type]="showPassword ? 'text' : 'password'" id="password" [(ngModel)]="user.password" name="password" #pwd="ngModel" required [pattern]="passwordPattern" placeholder="••••••••••"/>
    </div>
   @if (pwd.invalid && pwd.touched) {
    <div style="color: red; font-size: 0.8em; margin-top: 5px;">
      @if (pwd.errors?.['required']) { <p>Mot de passe requis.</p> }
      @if (pwd.errors?.['pattern']) {
        <p>Sécurité : 10 caractères min, 1 Maj, 1 Min, 1 Chiffre et 1 Spécial (&#64;$!%*?&)</p>
      }
    </div>
  }
  </div>

  <br>

  <button type="submit" [disabled]="registerForm.invalid">S'inscrire</button>
</form>

<p>Déjà un compte ? <a routerLink="/login"> Connectez-vous</a></p>
