@if (currentUser && currentUser.token){

  <div class="dashboard">

    @if (currentUser.id){

      <div class="products-grid-user">
        @for (item of products(); track item.id) {
          <div class="product" [routerLink]="['/product', item.id]">
            <h3>{{ item.title || 'Sans titre' }}</h3>
            <p>{{ item.description || 'Pas de description' }}</p>
          </div>
        }
      </div>
    }

    <div class="lien-dashboard-user">
      <a routerLink="/dashboard">mes annonces</a>ng
    </div>

  </div>


  <div class="container">

    <div class="products-grid">
      @for (item of products(); track item.id) {
        <div class="product" [routerLink]="['/product', item.id]">
          <h3>{{ item.title || 'Sans titre' }}</h3>
          <p>{{ item.description || 'Pas de description' }}</p>
        </div>
      }
    </div>

    <div class="lien-annonce">
      <a routerLink="/all-products">voir plus</a>
    </div>
  </div>
}


  <div class="container">

    <div class="products-grid">
      @for (item of products(); track item.id) {
        <a class="product" [routerLink]="['/product', item.id]">
          <h3>{{ item.title || 'Sans titre' }}</h3>
          <p>{{ item.description || 'Pas de description' }}</p>
        </a>
      }
    </div>

    <div class="lien-annonce">
      <a routerLink="/all-products">voir plus</a>
    </div>
  </div>


