@if (currentUser){
  <div class="dashboard">
    <h3>Mes Annonces</h3>
      <div class="products-grid-user">
        @for (item of Userproduct(); track item.id) {
          <div class="product" [routerLink]="['/product', item.id]">
            <h3>{{ item.title || 'Sans titre' }}</h3>
            <p>{{ item.description || 'Pas de description' }}</p>
          </div>
        }
      </div>
    <br>
    <div class="lien-dashboard-user">
      <a routerLink="/user">mes annonces</a>
    </div>
  </div>


  <div class="container">
  <h3>Les Annonces Récentes </h3>
    <div class="products-grid">
      @for (item of products(); track item.id) {
        <div class="product" [routerLink]="['/product', item.id]">
          <h3>{{ item.title || 'Sans titre' }}</h3>
          <p>{{ item.description || 'Pas de description' }}</p>
        </div>
      }
    </div>

    <div class="lien-annonce">
      <a routerLink="/annonces">voir plus</a>
    </div>
  </div>
}@else{
  <div class="container">

    <div class="products-grid">
      @for (item of products(); track item.id) {
        <a class="product" [routerLink]="['/product', item.id]">
          <h3>{{ item.title || 'Sans titre' }}</h3>
          <p>{{ item.description || 'Pas de description' }}</p>
        </a>
      }
    </div>

    <div class="lien-annonce">
      <a routerLink="/annonces">voir plus</a>
    </div>
  </div>
}


