<div class="filter-container">
  <h3>Catégories</h3>
  <button (click)="All()">Tous</button>
  @for (item of category; track item.id){
    <button (click)="Filtre(item.name)">{{item.name}}</button>
  }
</div>

<div class="container">

  <div class="products-grid">
    @for (item of products(); track item.id) {
      <a class="product" [routerLink]="['/product', item.id]">
        <h3>{{ item.title || 'Sans titre' }}</h3>
        <p>{{ item.description || 'Pas de description' }}</p>
      </a>
    }
  </div>
</div>
