:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}


.content {
  flex: 1;
  padding: 20px;
  background-color: #E4E6EB;
}

footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

