.products-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5%;
  width: 100%;
}

.products-grid-user {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5%;
  width: 100%;
}
.product[_ngcontent-ng-c1409268390] {
  color: black;
  width: 32%;
  height: 100%;
  margin-bottom: 10px;
  text-align: center;
  background-color: #d4e9ff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
